<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="6.9.3" targetFramework="net48" developmentDependency="true" />
  <package id="Google.Protobuf" version="3.34.1" targetFramework="net48" />
  <package id="LightGBM" version="4.6.0" targetFramework="net48" />
  <package id="MethodBoundaryAspect.Fody" version="2.0.150" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.5" targetFramework="net48" />
  <package id="Microsoft.Bcl.HashCode" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.Memory" version="10.0.5" targetFramework="net48" />
  <package id="Microsoft.Bcl.Numerics" version="10.0.5" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="5.3.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.Common" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.CSharp.Scripting" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.Scripting.Common" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="10.0.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="10.0.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="10.0.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="10.0.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Json" version="10.0.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="10.0.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="10.0.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="10.0.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="10.0.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="10.0.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="10.0.5" targetFramework="net48" />
  <package id="Microsoft.ML" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.ML.AutoML" version="0.23.0" targetFramework="net48" />
  <package id="Microsoft.ML.CpuMath" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.ML.DataView" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.ML.DnnImageFeaturizer.AlexNet" version="0.23.0" targetFramework="net48" />
  <package id="Microsoft.ML.DnnImageFeaturizer.ResNet101" version="0.23.0" targetFramework="net48" />
  <package id="Microsoft.ML.DnnImageFeaturizer.ResNet18" version="0.23.0" targetFramework="net48" />
  <package id="Microsoft.ML.DnnImageFeaturizer.ResNet50" version="0.23.0" targetFramework="net48" />
  <package id="Microsoft.ML.FastTree" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.ML.ImageAnalytics" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.ML.LightGbm" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.ML.Mkl.Components" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.ML.Mkl.Redist" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.ML.OnnxRuntime.Managed" version="1.24.4" targetFramework="net48" />
  <package id="Microsoft.ML.OnnxTransformer" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.ML.Recommender" version="0.23.0" targetFramework="net48" />
  <package id="Microsoft.ML.TensorFlow" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.ML.TimeSeries" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.ML.Tokenizers" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.ML.TorchSharp" version="0.23.0" targetFramework="net48" />
  <package id="Microsoft.ML.Vision" version="5.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net48" />
  <package id="OneOf" version="3.0.271" targetFramework="net48" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net48" />
  <package id="Protobuf.Text" version="0.7.2" targetFramework="net48" />
  <package id="Razorvine.Pickle" version="1.5.0" targetFramework="net48" />
  <package id="Serilog" version="4.3.1" targetFramework="net48" />
  <package id="Serilog.Sinks.Console" version="6.1.1" targetFramework="net48" />
  <package id="SharpZipLib" version="1.4.2" targetFramework="net48" />
  <package id="SkiaSharp" version="3.119.2" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.Linux.NoDependencies" version="3.119.2" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.macOS" version="3.119.2" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.Win32" version="3.119.2" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.CodeDom" version="10.0.5" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="10.0.5" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="10.0.5" targetFramework="net48" />
  <package id="System.IO.FileSystem.AccessControl" version="5.0.0" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="10.0.5" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Tensors" version="10.0.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="10.0.5" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.1" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="10.0.5" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="10.0.5" targetFramework="net48" />
  <package id="System.Text.Json" version="10.0.5" targetFramework="net48" />
  <package id="System.Threading.Channels" version="10.0.5" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.2" targetFramework="net48" />
  <package id="TensorFlow.NET" version="0.150.0" targetFramework="net48" />
  <package id="TorchSharp" version="0.106.0" targetFramework="net48" />
</packages>